.scrolling-text {
    display: inline-block;
    white-space: nowrap;
    animation: scrollText 20s linear infinite;
  }
  
  @keyframes scrollText {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  